*{
  font-family: "Poppins", sans-serif;
 }
.sidebar {
  width: 17%;
  background-color: #1059b2fd;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sidebar h1 {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  color: #fff;
}
.sidebar a{
  color: white;
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding: 18px;
  cursor: pointer;
  font-size: 28px;  
}
.sidebar a:hover{
  background-color: #ffffffce;
  color: #105ab2;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.ItemList a {
  text-decoration: none;
  color: #2d63a6ed;
  background-color: rgba(231, 240, 245, 0.895);
  font-size: 24px;
}
.ItemList :hover {
  background-color: white;
  border-radius: 6px !important;
  color: #1059b2fd;
}
.button-logout {
  position: absolute;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 10px;
  background: #105ab2;
  color: #fff;
  border-color: aliceblue;
  top: 0;
  right: 0;
  margin: 19.5px;
  font-size: x-large;
}
.button-logout:hover {
  background-color: white;
  color: #105ab2;
  transition: 0.3s;
  border: 2px solid #105ab2;
  font-weight: 600;
}