.card-abc {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 260px;
    height: 330px;
    box-shadow: 0 15px 25px 0.5px rgba(0, 0, 0, 0.262);
    background: var(--bg-color);
    /* border: 2px solid var(--main-color); */
    /* box-shadow: 2px 2px var(--main-color); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "sans-serif";
  }
  
  .card-img-abc .img-abc img {
    height: 17vh;
  }
  
  .card-img-abc {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
  }
  .card-title-abc {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  .card-subtitle-abc {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
  }
  .card-title-abc,
  .card-subtitle-abc,
  .card-price-abc,
  .card-divider-abc {
    margin-top: 15px;
  }
  .card-divider-abc {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  .card-price-abc {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  .card-price-abc .card-price-sign-abc {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  .card-img-abc:hover {
    transform: translateY(-20px);
  }
  .button2-abc {
    display: inline-block;
    display: flex;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 0px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-top: 8px;
  }
  .button-container-abc a {
    text-decoration: none;
  }
  .button2-abc:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  .button2-abc:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .button2-abc:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #105ab2;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .button2-abc:hover {
    color: #ffffff;
    border: 1px solid #105ab2;
  }
  
  .button2-abc:hover:before {
    top: -35%;
    background-color: #105ab2;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2-abc:hover:after {
    top: -45%;
    background-color: #105ab2;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-container-abc {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
  }